@font-face {
    font-family: Cartograph Bold;
    src: url(./fonts/CartographCF-Bold.woff);
}
@font-face {
    font-family: Cartograph Regular;
    src: url(./fonts/CartographCF-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-mid: #403d52;
    --highligh-high: #524f67;
}

body {
    background: url(./background.png) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.tiling {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 49%;
    height: 98%;
    border-radius: 10px;
    background-color: #191724;
}

.intro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code {
    font-family: 'Indie Flower', cursive;
    color: var(--highlight-mid);
}

.strike {
    font-family: 'Indie Flower', cursive;
    color: var(--highligh-high);
    display: inline-block;
    text-decoration: line-through;
    font-size: 18px;
}

.intro-title {
    color: var(--text);
    font-size: 15px;
    padding: 10px;
    font-family: cartograph CF;
    font-weight: 600;
}

.right {
    width: 50%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
}

.right-top {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color: #191724;
}

.right-bottom {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color: #191724;
}

.terminal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neofetch-image {
    height: 60%;
    margin: 20px;
}

.neofetch {
    width: 100%;
    height: 100%;
}

.neo-title {
    color: var(--love);
    font-family: Cartograph Regular;
    font-size: 16px;
    padding-top: 40px;
}

.neo-line {
    width: 190px;
    height: 2px;
    background-color: var(--text);
    margin: 10px 0;
}

.neo-text {
    color: var(--text);
    font-family: Cartograph Bold;
    font-style: normal;
    font-size: 14px;
}

.neo-color1 {
    width: 18px;
    height: 4px;
    margin: 10px 0 ;
    display: inline-block;
    background-color: var(--love);
}
.neo-color2 {
    width: 18px;
    height: 4px;
    margin: 10px 5px;
    display: inline-block;
    background-color: var(--pine);
}
.neo-color3 {
    width: 18px;
    height: 4px;
    margin: 10px 0 ;
    display: inline-block;
    background-color: var(--gold);
}
.neo-color4 {
    width: 18px;
    height: 4px;
    margin: 10px 5px;
    display: inline-block;
    background-color: var(--foam);
}
.neo-color5 {
    width: 18px;
    height: 4px;
    margin: 10px 0 ;
    display: inline-block;
    background-color: var(--iris);
}
.neo-color6 {
    width: 18px;
    height: 4px;
    margin: 10px 5px;
    display: inline-block;
    background-color: var(--rose);
}
.neo-color7 {
    width: 18px;
    height: 4px;
    margin: 10px 0 ;
    display: inline-block;
    background-color: var(--subtle);
}

/* █░█░█ ▄▀█ █▄█ █▄▄ ▄▀█ █▀█
   ▀▄▀▄▀ █▀█ ░█░ █▄█ █▀█ █▀▄ */

.waybar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.waybar-window {
    background-color: var(--base);
    height: 40px;
    max-width: 90%;
    min-width: 30%;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspaces {
    background-color: var(--surface);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    color: var(--muted);
    padding: 5px 10px;
}

.active {
    color: var(--pine);
}

.tray {
    color: #fff;
    font-size: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 13px;
}

.fa-bell {
    color: var(--love);
    font-size: 14px;
}

.music {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    padding-left: 10px;
    font-size: 13px;
}

.music-text {
    display: inline-block;
    color: #f9e2af;
    padding: 10px;
    font-size: 15px;
}

.wifi {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-left: 10px;
    font-size: 12px;
}

.wifi-text {
    display: inline-block;
    color: var(--gold);
    padding: 10px;
    font-size: 13px;
}

.updates {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f2342;
    padding-left: 10px;
    font-size: 13px;
}

.update-text {
    display: inline-block;
    color: #8f2342;
    padding: 10px;
    font-size: 13px;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foam);
    padding-left: 10px;
    font-size: 12px;
}

.volume-mid {
    display: inline-block;
    color: var(--foam);
    padding: 10px;
    font-size: 13px;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pine);
    padding-left: 10px;
    font-size: 13px;
}

#datum {
    display: inline-block;
    color: var(--pine);
    padding: 10px;
    font-size: 13px;
}

.datum {
    margin-top: 1px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--love);
    padding-left: 10px;
    font-size: 13px;
}

#time {
    display: inline-block;
    color: var(--love);
    padding: 10px;
    font-size: 13px;
}

.clock {
    margin-top: 3px;
}

@media (max-width: 1314px) {
    .workspaces {
        font-size: 6px;
    }
    .tray {
        font-size: 6px;
    }
    .music {
        font-size: 6px;
    }
    .music-text {
        font-size: 8px;
    }
    .wifi {
        font-size: 6px;
    }
    .wifi-text {
        font-size: 8px;
    }
    .updates {
        font-size: 6px;
    }
    .update-text{
        font-size: 8px;
    }
    .volume {
        font-size: 6px;
    }
    .calendar{
        font-size: 6px;
    }
    .time {
        font-size: 6px;
    }
}